.hero-section {
    margin-top: 50px;
    background: black;
    min-height: 80vh;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 70px  ;
}

.hero-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.hero-section ul {
    font-size: 1.2rem;
}

.hero-section .btn-primary {
    background-color: #ff0066;
    border: none;
    padding: 12px 20px;
    font-weight: bold;
}

.hero-section .btn-outline-light {
    padding: 12px 20px;
    font-weight: bold;
    border: 2px solid white;
}

.hero-section .text-primary {
    color: #007bff !important;
    text-decoration: underline;
}







/* button css */
.custom-button {
    min-width: 170px;
    transition: background-color 0.2s ease-in-out;
}

.custom-button:hover {
    background-color: #0f010d; /* Darker blue on hover */
    color: white;
    border: white 1px solid;
    
}




/* chat box css */
.chatbox-container {
    border-radius: 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.chatbox-messages {
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
}

.chat-message {
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 5px;
    max-width: 80%;
    word-wrap: break-word;
}

.chat-message.user {
    background-color: #ffffff;
    color: rgb(80, 69, 69);
    align-self: flex-end;
}